footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.footer-links a:hover {
  color: crimson;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  margin: 0 10px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.social-links a:hover {
  color: crimson;
}


nav button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  cursor: pointer;
}


.about {
  text-align: center;
  margin: 0 auto;
  max-width: 800px; /* keeps it from being too wide */
}

nav button:hover {
  background-color: #45a049;
}
